@model TeaserBlockViewModel

<section>
    <div class="container">
        <div class="row vertical-bottom">
            <div class="col-lg-7 col-md-6 col-sm-5">
                <div class="about_content">
                    <h2 @Html.EditAttributes(m => m.CurrentBlock.TeaserHeading)>
                        @Html.DisplayFor(m => m.CurrentBlock.TeaserHeading)
                    </h2>
                    <div @Html.EditAttributes(m => m.CurrentBlock.TeaserText)>
                        @Html.DisplayFor(m => m.CurrentBlock.TeaserText)
                    </div>
                    <div @Html.EditAttributes(m => m.CurrentBlock.TeaserLink)>
                        @Html.DisplayFor(m => m.CurrentBlock.TeaserLink, new { CssClass = "btn know_btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7">
                <div class="about_banner" @Html.EditAttributes(m => m.CurrentBlock.TeaserImage)>
                    @Html.DisplayFor(m => m.CurrentBlock.TeaserImage)
                </div>
            </div>
        </div>
    </div>
</section>