@using EPiServer.SpecializedProperties
@model LinkItemCollection

@{
    string classes = ViewData["class"] as string ??
                     ViewData["ChildrenCssClass"] as string;
}

@if (Model != null)
{
    foreach (LinkItem link in Model)
    {
        <a class="@classes" href="@Html.Raw(link.GetMappedHref())" target="@link.Target" title="@link.Title">
            @link.Text
        </a>
    }
}
