@using System.Web.Optimization
@model IPageViewModel<SitePageData>

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Construction</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()

    <!-- Preloader -->

    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
            </div>
        </div>
    </div>

    <!--End off Preloader -->
    <!-- Header -->
    <header>
        <!-- Top Navbar -->
        <div class="top_nav">
            <div class="container">
                @if (Model.StartPage.FooterContact != null)
                {
                    <ul class="list-inline info">
                        @if (Model.StartPage.FooterContact.Phone != null)
                        {
                            <li>
                                <a href="tel:@Model.StartPage.FooterContact.Phone">
                                    <span class="fa fa-phone"></span>
                                    <span @Html.EditAttributes(m => m.StartPage.FooterContact.Phone)>
                                        @Html.DisplayFor(m => m.StartPage.FooterContact.Phone)
                                    </span>
                                </a>
                            </li>
                        }
                        @if (Model.StartPage.FooterContact.Email != null)
                        {
                            <li>
                                <a href="mailto:@Model.StartPage.FooterContact.Email">
                                    <span class="fa fa-envelope"></span>
                                    <span @Html.EditAttributes(m => m.StartPage.FooterContact.Email)>
                                        @Html.DisplayFor(m => m.StartPage.FooterContact.Email)
                                    </span>
                                </a>
                            </li>
                        }
                        @if (Model.StartPage.FooterContact.OpeningHours != null)
                        {
                            <li>
                                <span class="fa fa-clock-o"></span>
                                <span @Html.EditAttributes(m => m.StartPage.FooterContact.OpeningHours)>
                                    @Html.DisplayFor(m => m.StartPage.FooterContact.OpeningHours)
                                </span>
                            </li>
                        }
                    </ul>
                }
                <ul class="list-inline social_icon">
                    <li><a href=""><span class="fa fa-facebook"></span></a></li>
                    <li><a href=""><span class="fa fa-twitter"></span></a></li>
                    <li><a href=""><span class="fa fa-behance"></span></a></li>
                    <li><a href=""><span class="fa fa-dribbble"></span></a></li>
                    <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                    <li><a href=""><span class="fa fa-youtube"></span></a></li>
                </ul>
            </div>
        </div><!-- Top Navbar end -->
        
        @Html.Partial("_Navigation")
    </header><!-- Header end -->

    @RenderBody()

    <!-- Testimonial -->
    <section id="testimonial">
        <div class="container text-center testimonial_area">
            <h2>Customer Reviews</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial_item">
                        <div class="testimonial_content text-left">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                        </div>
                        <img src="@Url.Content("~/Static/images/testimonial_img1.png")" alt="Testimonial" />
                        <p class="worker_name">john smith</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial_item">
                        <div class="testimonial_content">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                        </div>
                        <img src="@Url.Content("~/Static/images/testimonial_img2.png")" alt="Testimonial" />
                        <p class="worker_name">john smith</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial_item">
                        <div class="testimonial_content">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                        </div>
                        <img src="@Url.Content("~/Static/images/testimonial_img1.png")" alt="Testimonial" />
                        <p class="worker_name">john smith</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Testimonial end -->
    <!-- Contact form -->
    <section id="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Do you have any questions?</h2>
                    <h2 class="second_heading">Feel free to contact us!</h2>
                </div>
                <form role="form" class="form-inline text-right col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="msg" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn submit_btn">Submit</button>
                </form>
            </div>
        </div>
    </section><!-- Contact form end -->
    <!-- Footer -->
    <footer>
        <!-- Footer top -->
        <div class="container footer_top">
            <div class="row">
                <div class="col-lg-4 col-sm-7">
                    <div class="footer_item">
                        <h4 @Html.EditAttributes(m => m.StartPage.FooterAboutTitle)>
                            @Html.DisplayFor(m => m.StartPage.FooterAboutTitle)
                        </h4>
                        <div class="brand">
                            <h1 @Html.EditAttributes(m => m.StartPage.CompanyName)>
                                @Html.DisplayFor(m => m.StartPage.CompanyName)
                            </h1>
                            <span class="text-muted" @Html.EditAttributes(m => m.StartPage.CompanyTagline)>
                                @Html.DisplayFor(m => m.StartPage.CompanyTagline)
                            </span>
                        </div>
                        <p @Html.EditAttributes(m => m.StartPage.FooterAboutDescription)>
                            @Html.DisplayFor(m => m.StartPage.FooterAboutDescription)
                        </p>

                        <ul class="list-inline footer_social_icon">
                            <li><a href=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href=""><span class="fa fa-youtube"></span></a></li>
                            <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                            <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-5">
                    <div class="footer_item">
                        <h4 @Html.EditAttributes(m => m.StartPage.FooterExploreTitle)>
                            @Html.DisplayFor(m => m.StartPage.FooterExploreTitle)
                        </h4>
                        <ul class="list-unstyled footer_menu">
                            <li><a href=""><span class="fa fa-play"></span> Our services</a>
                            <li><a href=""><span class="fa fa-play"></span> Meet our team</a>
                            <li><a href=""><span class="fa fa-play"></span> Forum</a>
                            <li><a href=""><span class="fa fa-play"></span> Help center</a>
                            <li><a href=""><span class="fa fa-play"></span> Contact Cekas</a>
                            <li><a href=""><span class="fa fa-play"></span> Privacy Policy</a>
                            <li><a href=""><span class="fa fa-play"></span> Cekas terms</a>
                            <li><a href=""><span class="fa fa-play"></span> Site map</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-7">
                    <div class="footer_item">
                        <h4 @Html.EditAttributes(m => m.StartPage.FooterLatestTitle)>
                            @Html.DisplayFor(m => m.StartPage.FooterLatestTitle)
                        </h4>
                        <ul class="list-unstyled post">
                            <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                            <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                            <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                            <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-5">
                    <div class="footer_item">
                        <h4 @Html.EditAttributes(m => m.StartPage.FooterContactTitle)>
                            @Html.DisplayFor(m => m.StartPage.FooterContactTitle)
                        </h4>
                        <ul class="list-unstyled footer_contact">
                            @if (Model.StartPage.FooterContact != null)
                            {
                                if (Model.StartPage.FooterContact.Location != null)
                                {
                                    <li>
                                        <span class="fa fa-map-marker"></span>
                                        <span @Html.EditAttributes(m => m.StartPage.FooterContact.Location)>
                                            @Html.DisplayFor(m => m.StartPage.FooterContact.Location)
                                        </span>
                                    </li>
                                }
                                if (Model.StartPage.FooterContact.Email != null)
                                {
                                    <li>
                                        <a href="mailto:@Model.StartPage.FooterContact.Email">
                                            <span class="fa fa-envelope"></span>

                                            <span @Html.EditAttributes(m => m.StartPage.FooterContact.Email)>
                                                @Html.DisplayFor(m => m.StartPage.FooterContact.Email)
                                            </span>
                                        </a>
                                    </li>
                                }
                                if (Model.StartPage.FooterContact.Phone != null)
                                {
                                    <li>
                                        <a href="tel:@Model.StartPage.FooterContact.Phone">
                                            <span class="fa fa-mobile"></span>
                                            <span @Html.EditAttributes(m => m.StartPage.FooterContact.Phone)>
                                                @Html.DisplayFor(m => m.StartPage.FooterContact.Phone)
                                            </span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div><!-- Footer top end -->
        <!-- Footer bottom -->
        <div class="footer_bottom text-center">
            <p class="wow fadeInRight">
                Made with
                <i class="fa fa-heart"></i>
                by
                <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                2016. All Rights Reserved
            </p>
        </div><!-- Footer bottom end -->
    </footer><!-- Footer end -->

    @Scripts.Render("~/Bundles/js")

    @RenderSection("Scripts", required: false)
</body>
</html>	