@model TeaserBlockViewModel

<div class="col-md-8">
    <div class="service_item">
        @Html.PropertyFor(m => m.CurrentBlock.TeaserImage)
        <h2 @Html.EditAttributes(m => m.CurrentBlock.TeaserHeading)>
            @Html.DisplayFor(m => m.CurrentBlock.TeaserHeading)
        </h2>
        @Html.PropertyFor(m => m.CurrentBlock.TeaserText)
        @Html.PropertyFor(m => m.CurrentBlock.TeaserLink, new { CssClass = "btn know_btn" })
    </div>
</div>
