@using EPiServer.Core
@model ListingBlockViewModel

<section>
    <div class="container">
        @if (Model.Pages == null)
        {
            if (EPiServer.Editor.PageEditing.PageIsInEditMode)
            {
                <div class="label label-warning">
                    <p>Set the ShowChildrenOfThisPage property to a page.</p>
                    <small>(This is only visible in the editor.)</small>
                </div>
            }
            return;
        }

        <h2 @Html.EditAttributes(m => m.Heading)>
            @Html.DisplayFor(m => m.Heading)
        </h2>

        @if (!Model.Pages.Any())
        {
            <div class="label label-warning">The page selected has no children.</div>
        }

        @foreach (SitePageData page in Model.Pages)
        {
            <div class="row vertical-middle well well-lg">
                <div class="col-lg-7 col-md-6 col-sm-5">
                    <div class="about_content">
                        <h2>@page.MetaTitle</h2>
                        <div>
                            @if (page.Property["MainBody"].Value != null)
                            {
                                @page.Property["MainBody"]
                            }
                            else
                            {
                                @page.MetaDescription
                            }
                        </div>
                        @if (page is ServicePage)
                        {
                            var service = (ServicePage)page;
                            <div style="margin-top: 16px;">
                                @Html.Partial("WorkSpecsBlock", service.WorkSpecs)
                            </div>
                        }
                        <div>
                            <a class="btn know_btn" href="@Url.ContentUrl(page.PageLink)" title="Link to @page.Name page">
                                Know more
                            </a>
                        </div>
                    </div>
                </div>

                @if (page.PageImage != null)
                {
                    <div class="col-lg-5 col-md-6 col-sm-7">
                        <div class="about_banner">
                            <a class="thumbnail" href="@Url.ContentUrl(page.PageLink)">
                                <img src="@Url.ContentUrl(page.PageImage)" alt="Thumbnail for @page.Name" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>