@using EPiServer.Core
@using EPiServer.SpecializedProperties
@using UnderConstruction.WebPage.Business.ExtensionMethods
@model IPageViewModel<SitePageData>
<!-- Footer -->
<footer>
    <!-- Footer top -->
    <div class="container footer_top">
        <div class="row">
            <div class="col-lg-4 col-sm-7">
                <div class="footer_item">
                    <h4 @Html.EditAttributes(m => m.StartPage.FooterAboutTitle)>
                        @Html.DisplayFor(m => m.StartPage.FooterAboutTitle)
                    </h4>
                    <div class="brand">
                        <h1 @Html.EditAttributes(m => m.StartPage.CompanyName)>
                            @Html.DisplayFor(m => m.StartPage.CompanyName)
                        </h1>
                        <span class="text-muted" @Html.EditAttributes(m => m.StartPage.CompanyTagline)>
                            @Html.DisplayFor(m => m.StartPage.CompanyTagline)
                        </span>
                    </div>
                    <p @Html.EditAttributes(m => m.StartPage.FooterAboutDescription)>
                        @Html.DisplayFor(m => m.StartPage.FooterAboutDescription)
                    </p>

                    <ul class="list-inline footer_social_icon">
                        <li><a href=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href=""><span class="fa fa-youtube"></span></a></li>
                        <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-5">
                <div class="footer_item">
                    <h4 @Html.EditAttributes(m => m.StartPage.FooterExploreTitle)>
                        @Html.DisplayFor(m => m.StartPage.FooterExploreTitle)
                    </h4>
                    <ul class="list-unstyled footer_menu" @Html.EditAttributes(m => m.StartPage.FooterExploreLinks)>
                        @if (Model.StartPage.FooterExploreLinks != null)
                        {
                            foreach (LinkItem link in Model.StartPage.FooterExploreLinks)
                            {
                                <li>
                                    <a href="@Html.Raw(link.GetMappedHref())" target="@link.Target" title="@link.Title">
                                        <span class="fa fa-play"></span>
                                        @link.Text
                                    </a>
                                </li>
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action(ContentReference.StartPage, "Logout")">
                                    <span class="fa fa-play"></span>
                                    Log out @User.Identity.Name
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Url.Encode(Model.CurrentPage.PageLink.ExternalURLFromReference())">
                                    <span class="fa fa-play"></span>
                                    Log in
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-7">
                <div class="footer_item">
                    <h4 @Html.EditAttributes(m => m.StartPage.FooterLatestTitle)>
                        @Html.DisplayFor(m => m.StartPage.FooterLatestTitle)
                    </h4>
                    <ul class="list-unstyled post">
                        <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                        <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                        <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                        <li><a href=""><span class="date">20 <small>AUG</small></span>  Luptatum omittantur duo ne mpetus indoctum</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-5">
                <div class="footer_item">
                    <h4 @Html.EditAttributes(m => m.StartPage.FooterContactTitle)>
                        @Html.DisplayFor(m => m.StartPage.FooterContactTitle)
                    </h4>
                    <ul class="list-unstyled footer_contact">
                        @if (Model.StartPage.FooterContactLocation != null)
                        {
                            <li>
                                <span class="fa fa-map-marker"></span>
                                <span @Html.EditAttributes(m => m.StartPage.FooterContactLocation)>
                                    @Html.DisplayFor(m => m.StartPage.FooterContactLocation)
                                </span>
                            </li>
                        }
                        @if (Model.StartPage.FooterContactEmail != null)
                        {
                            <li>
                                <a href="mailto:@Model.StartPage.FooterContactEmail">
                                    <span class="fa fa-envelope"></span>

                                    <span @Html.EditAttributes(m => m.StartPage.FooterContactEmail)>
                                        @Model.StartPage.FooterContactEmail
                                    </span>
                                </a>
                            </li>
                        }
                        @if (Model.StartPage.FooterContactPhone != null)
                        {
                            <li>
                                <a href="tel:@Model.StartPage.FooterContactPhone">
                                    <span class="fa fa-mobile"></span>
                                    <span @Html.EditAttributes(m => m.StartPage.FooterContactPhone)>
                                        @Html.DisplayFor(m => m.StartPage.FooterContactPhone)
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div><!-- Footer top end -->
    <!-- Footer bottom -->
    <div class="footer_bottom text-center">
        <p class="wow fadeInRight">
            Made with
            <i class="fa fa-heart"></i>
            by
            <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
            2016. All Rights Reserved
        </p>
    </div><!-- Footer bottom end -->
</footer><!-- Footer end -->
