@model AboutBlock
   
@{
    string backgroundStyle = Model.ImageBackground != null
        ? string.Format("background: url({0}) no-repeat right;", Url.ContentUrl(Model.ImageBackground)) : null;
}

<!-- About --><section>
    <div class="container" style="@backgroundStyle">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="about_content">
                    <h2 @Html.EditAttributes(m => m.Heading)>
                        @Html.DisplayFor(m => m.Heading)
                    </h2>
                    <h3 @Html.EditAttributes(m => m.Subheading)>
                        @Html.DisplayFor(m => m.Subheading)
                    </h3>
                    <div @Html.EditAttributes(m => m.Content)>
                        @Html.DisplayFor(m => m.Content)
                    </div>
                    <div @Html.EditAttributes(m => m.Links)>
                        @Html.DisplayFor(m => m.Links, new { ChildrenCssClass = "btn know_btn"})
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-lg-offset-1">
                <div class="about_banner" @Html.EditAttributes(m => m.ImageForeground)>
                    @Html.DisplayFor(m => m.ImageForeground)
                </div>
            </div>
        </div>
    </div>
</section><!-- About end -->
