@using EPiServer.Core
@using EPiServer.SpecializedProperties
@model CarouselItemBlock

@Html.FullRefreshPropertiesMetaData(new[] { "BackgroundImage", "BigHeader2", "Links" })

@{
    var isFirst = ViewData["isFirst"] as Func<bool>;
    bool first = isFirst != null && isFirst();
    string active = first ? "active" : null;

    if (!first && EPiServer.Editor.PageEditing.PageIsInEditMode)
    {
        active = "hidden";
    }
}
<div class="item @active">
    <div class="background" style="background-image: url(@Url.ContentUrl(Model.BackgroundImage))" @Html.EditAttributes(m => m.BackgroundImage)></div>
    <div class="overlay">
        <div class="carousel-caption">
            <h3 @Html.EditAttributes(m => m.SmallHeader)>
                @Html.DisplayFor(m => m.SmallHeader)
            </h3>
            <h1 @Html.EditAttributes(m => m.BigHeader1)>
                @Html.DisplayFor(m => m.BigHeader1)
            </h1>
            @if (Model.BigHeader2 != null)
            {
                <h1 class="second_heading" @Html.EditAttributes(m => m.BigHeader2)>
                    @Html.DisplayFor(m => m.BigHeader2)
                </h1>
            }
            else
            {
                <div @Html.EditAttributes(m => m.BigHeader2)>
                    <small>there's no header 2</small>
                </div>
            }
            <div @Html.EditAttributes(m => m.Paragraph)>
                @Html.DisplayFor(m => m.Paragraph)
            </div>
            <div @Html.EditAttributes(m => m.Links)>
                @Html.DisplayFor(m => m.Links, new { ChildrenCssClass = "btn know_btn" })
            </div>
        </div>
    </div>
</div>